@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-font-family: "Inter", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
